$mainbg:--bs-light;

$mainfon:--bs-dark;

body{
    background-color: var($mainbg);
}

nav , section{
    padding: 5%;
}
.navbar{
    background-color: var($mainbg);
    
    ul{
        margin: 0;
        a{
            color: var($mainfon);
        }
    }
    .logo{
        color: var($mainfon);
    }
}

.sec-fir{
    background-color: var($mainbg);
    color: var($mainfon);
    padding-bottom: 80px;
    
    i{
        font-size: 1.5rem;
        margin: 10px 20px 0 0;
        &[class*="facebook"]:hover{
            color: var(--bs-primary);
        }
        &[class*="instagram"]:hover{
            color: var(--bs-pink);
        }
        &[class*="twitter"]:hover{
            color: var(--bs-cyan);
        }
    }
    button{
        font-weight: bold;
        width: 20%;
    }
    .th-info{
        
        .part1{
            display: flex;
            justify-content: flex-start;
            align-items: end;
            padding: 0;
            position: relative;
            span{
                font-size: 8rem;
                margin-left: -12px;
                margin-bottom: -43px;
                position: relative;
                &::before{
                    content: "";
                    width: 40px;
                    height: 40px;
                    border-bottom: 1px solid black;
                    border-right: 1px solid black;
                    position: absolute;
                    bottom: 20px;
                    right: -5px;
                }
            }
            &::before{
                content: "";
                width: 40px;
                height: 40px;
                border-top: 1px solid black;
                border-left: 1px solid black;
                position: absolute;
                top: 20px;
                left: 30px;
            }

        }
        .part2{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            padding-bottom: 100px;
            &:last-child::after{
                margin-top: 40px;
                width: 80px;
                border: 7px solid var(--bs-dark);
                content: "";
            }
        }

        .part3{
            display: flex;
            align-items: end;
            justify-content: space-between;
            padding-top: 50px;
            &::before{
                background-color:black;
                content: "";
                width: 30px;
                height: 30px;
                position: relative;
            }
            img{
                width: 75%;
                margin-left: -10%;
            }
            &::after{
                background-color:var(--bs-warning);
                content: "";
                width: 70px;
                height: 70px;
                position: absolute;
                right: 0;
                
            }
        }
    }
}
.sec-sec{
    
    .sec-sec-title{
        font-size: 5rem;
        line-height: 1;
    }
    .about-me-content{
        background: linear-gradient(to top, var(--bs-warning) 50%,  #ffffff00 50%);
        padding: 5% 0px;
        
        .part1{
            .img-container:first-of-type{
                position: relative;
                &::after {
                    content:"";
                    width: 40px;
                    height: 40px;
                    border-top: 1px solid black;
                    border-right: 1px solid black;
                    top: -20px;
                    right:  -54%;
                    position: absolute;
                    margin-right: 50%;
                }
                img{
                    width: 100%;
                }
                &::before {
                    content:"";
                    width: 40px;
                    height: 40px;
                    border-bottom: 1px solid black;
                    border-left: 1px solid black;
                    bottom:  0px;
                    left:  -30px;
                    position: absolute;
                    margin-right: 50%;
                }
                padding: 0 0 20px 0;

            }
            .name-and-contact{
                position: relative;
                span{
                    font-size: 3.5rem;
                    display: block;
                    position: relative;
                    line-height: 1.2;
                    font-weight: bold;
                    &:first-of-type{
                        margin-top: 190px ;
                    }
                    margin: auto -80px;
                    &:last-of-type::after{
                        width: 50px;
                        content: "";
                        border-bottom: 15px solid black;
                        position: absolute;
                        left: 50%;
                        bottom: -20px;
                    }
                }
                ul{
                    margin-top: 50%;
                    list-style: none;
                    li{
                        font-size: 1.5rem;
                        margin-top: 30px;
                        a {
                            text-decoration: none;
                            color: var(--bs-dark);
                            
                        }
                        &[face=""]:hover{
                            color: var(--bs-primary);
                            
                            a{
                                color: var(--bs-primary);
                            }
                        }
                        &[insta=""]:hover{
                            color: var(--bs-pink);
                            a{
                                color: var(--bs-pink);
                            }
                        }
                        &[twitter=""]:hover{
                            color: var(--bs-cyan);
                            a{
                                color: var(--bs-cyan);
                            }
                        }
                    }

                }
            }
        }
        .part2{
            padding: 0 10%;
            font-size: 1.3rem;
        }
    }
}
.sec-thr{
    background-color: var($mainbg);
    color: var($mainfon);
    padding:  0px;
    .sec-thr-title{
        position: relative;
        font-size: 5rem;
        margin: 5%;

        line-height: 1;
        &::after{
            content: "";
            position: absolute;
            width: 70px;
            margin-top: 40px;
            border: 1px solid black;
        }
    }
    .project-conta{
        background-color:  var(--bs-warning) ;
        margin-top: 170px;
        position: relative;
        .project{
            display: flex;
            justify-content: center;
            align-items: center;    
            .project-body{
                margin: 0;
                width: 90%;
                background-color: var(--bs-light);
                .project-title{
                    font-size: 2.5rem;
                    font-weight: bold;
                }
                .projrct-content{
                    font-weight: 500;
                    width: 80%;
                }
                .project-num{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2.5rem;
                }
            }
        }
        &::after{
            content: "";
            width: 70px;
            border: 1px solid black;
            margin: 70px 40px;
            position: absolute;
        }
    }
}
.project-1{
    height: 400px;
    position: relative;
    margin-top: 5%;
    &::before{
        content: "";
        position: absolute;
        width: 200px;
        height: 70px;
        background-color: var(--bs-warning);
        color: var(--bs-warning);
        box-shadow: 700px 350px;
    }
}

.sec-fou{
    background: #fff;
    display: none;

}